@import "./base.css";
/*
html,body{
    width: 100%;
} */

#app{
    position: relative;
    width: 100%;
    max-width: 99vw;
    min-height: 100vh;
}

#main-content {
  /* padding: 2rem; */
  margin-top: 50px;
  font-weight: normal;
  /* min-width: 100vw; */
}

header{
    background-color: #131313;
    padding-bottom: 15px;
}
p{
    font-size: 1.12rem;
}
a,
.green {
  text-decoration: none;
  color: #423eff;
  transition: 0.4s;
}

.green{
    font-weight:700;
    letter-spacing:2px
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
